.Task {
  width: 280px;
  height: 81px;
  padding: 10px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 2px 2px 2px #4891a8;
}
.Task:not(:last-child) {
  margin-bottom: 10px;
}

.Task h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #171717;
}

.Task button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: -0.02em;
  background-color: #59b4d1;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  padding: 5px 4px;
}

.Task.progress button {
  background-color: #d0935a;
}

.Task.progress {
  box-shadow: 2px 2px 2px #ab794a;
}

.Task.review {
}

.Task.done {
}

.info {
  display: flex;
  overflow: hidden;
  align-items: center;
  padding: 10px 0 0 0;
}

.info img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;

  object-fit: cover;
}

.info button {
  margin-left: 10px;
}
