.Card {
  background: #59b4d1;
  border-radius: 4px 4px 4px 4px;
  border-top: 5px solid #50a2bc;
  padding: 10px;
}

.Card.todo {
  background: #59b4d1;
  border-top: 5px solid #50a2bc;
}

.Card.progress {
  background: #d0935a;
  border-top: 5px solid #bb8451;
}

.Card.review {
  background: #945ad1;
  border-top: 5px solid #8551bc;
}

.Card.done {
  background: #59d090;
  border-top: 5px solid #50bb82;
}

.card__title {
  display: flex;
  margin-bottom: 10px;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #ffffff;
  padding-left: 10px;
}
