* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: 60px;
  background-color: #e1e8ed;
  background-image: url("./assets/img/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

h1 {
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 45px;
  letter-spacing: -0.02em;
  color: #171717;
}
.App {
  margin: 0 auto;
}
.App__tasks {
  display: flex;
  align-items: flex-start;
  gap: 35px;
}
